body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Titres */
h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6,
.fw-bold,
.fw-semibold {
  font-weight: 600 !important;
}

.title-container {
  position: relative;
  padding-bottom: 15px;
}

/* la page home */
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  filter: brightness(0.7);
}

/* les soulignements bleu */

.blue-underline {
  width: 400px;
  height: 5px;
  background-color: #0d6efd;
  margin: 20px auto 0;
  margin-bottom: 70px;
}

.title-underline {
  width: 100%;
  height: 4px;
  background-color: #0d6efd;
  margin-top: 1rem;
  left: 0;
  margin-bottom: 30px;
  bottom: -0.8rem;
}

/* taille des icones de la page service */

.service-icon {
  font-size: 2.5rem;
  color: #0d6efd;
  margin: 30px auto 0;

}

/* effet lors du survol des cartes */

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  background-color: #efefef;

  .list-group-item {
    background-color: #efefef;
  }
}

.btn:hover {
  background-color: #efefef;
}

/* navbar */
/* Style du bouton burger */
.navbar-toggler {
  border: none;
  padding: 0.5rem;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

/* Animation des liens */

.active-nav-link {
  font-weight: 700 !important;
  position: relative;
}

.active-nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  font-weight: bold;
  background-color: white;
}

.nav-link:hover {
  font-weight: 600;
  animation: underline 0.3s ease;
}

.nav-link {
  position: relative;
  padding: 0.5rem 0;
}

.nav-link:hover::after {
  width: 100%;
}


/* Menu mobile */
@media (max-width: 767.98px) {
  .navbar-collapse {
    padding-top: 1rem;
  }

  .nav-link {
    text-align: center;
    padding: 0.5rem 0;
  }

  .active-nav-link::after {
    width: 50%;
    left: 25%;
    bottom: 5px;
  }

  .nav-link:last-child {
    border-bottom: none;
  }
}

/* page portfolio */
/* Effet de survol pour les boutons */
.custom-btn {
  background-color: #0d6efd;
  border-color: #0d6efd;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn:hover {
  opacity: 0.9;
  background-color: #0d6efd;
  box-shadow: 0 4px 8px rgba(13, 110, 253, 0.3);
}

/* Animation supplémentaire au clic */
.custom-btn:active {
  transform: translateY(0);
}

/* Style pour la bannière */
.w-100 {
  object-fit: cover;
}

/* footer */
.footer-link:hover {
  font-weight: bold;
}

.rs-link:hover {
  font-weight: lighter;
}

footer i {
  font-size: 2rem;
}

/* modal github */
.myModal {
  .btn-close {
    color: #6c757c;
  }
  .modal-dialog {
    max-width: 40vw;
    .modal-content {
      border: 1px solid #6c757c;
    }
  }
}